.cate-section-1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem;
}

.cate-section-1-child {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--bg-color-1);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding-bottom: 2rem;
    box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03),        0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
}

.cate-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5rem;
    box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03),        0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    word-break: break-all;
}

.add-cate-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.upload-box {
    border: 1px dashed var(--border-color);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 2rem;
    word-break: break-all;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-cate-btn {
    background-color: var(--text-color-2);
    color: var(--bg-color-1);
    border: none;
    border-radius: 0.4rem;
    padding: 0.5rem;
    font-weight: bold;
    cursor: pointer;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
    -ms-border-radius: 0.4rem;
    -o-border-radius: 0.4rem;
}

.add-cate-btn:hover {
    background-color: #3f6ad8cc;
    color: var(--bg-color-1);
}

.cate-line {
    border-left: 1px solid var(--border-color);
    width: 1px;
    margin: 0 2rem;
}

.preview-upload {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.preview-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.category-wrapper {
    padding: 0.5rem;
    background-color: #3f6ad8cc;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: var(--bg-color-1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    word-break: break-all;
}

.cate-section-2 {
    background-color: var(--bg-color-1);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding:0 2rem 2rem 2rem;
    box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03),        0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
    user-select:text;
    width: 100%;
}

.cate-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
}

.cate-input-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.cate-input-box {
    border: 1px solid var(--hover-menu);
    border-radius: 5px;
    // padding: 0 10px;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.cate-input-box:focus {
    outline: none;
    border: 1px solid var(--text-color-2);
}

.add-cate-wrapper {
    display: flex;
}

// checkbox style to make it look not like default checkbox
#isUpdateIcon {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
}

//* mobile size start here
@media screen and (max-width: 1500px) {
    .cate-section-1 {
        gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    }

    .cate-card {
        padding: 2rem;
    }

    .add-cate-form {
        gap: 1rem;
    }

    .upload-box {
        padding: 1rem;
        height: 5rem;
    }

    .preview-upload {
        gap: 1rem;
    }

    .preview-wrapper {
        margin-top: 1rem;
        gap: 1rem;
    }

    .add-cate-wrapper {
        flex-direction: column;
    }

    .cate-line {
        display: none;
    }


}

@media screen and (max-width: 582px) {
    .cate-section-1 {
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    }

    .cate-card {
        padding: 1rem;
    }

    .cate-section-1 > h3 {
        font-size: 1.2rem;
    }

    .cate-section-1 > h6 {
        font-size: 1rem;
    }

    .cate-section-2 > span {
        font-size: 1rem;
    }

    .cate-section-2 > h1 {
        font-size: 1.5rem;
    }

    .cate-input-wrapper {
        gap: 0.5rem;
        flex-direction: column;
    }
}

@media screen and (max-width: 415px) {
    .cate-section-1 {
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    }

    .cate-card {
        padding: 0.5rem;
    }

    .cate-section-1 > h3 {
        font-size: 0.8rem;
    }

    .cate-section-1 > h6 {
        font-size: 0.6rem;
    }

    .cate-section-2 > span {
        font-size: 0.6rem;
    }

    .cate-section-2 > h1 {
        font-size: 1rem;
    }
}
