:root {
    --text-color: #495057;
    --text-color-2: #3f6ad8;
    --bg-color-1: #fafbfc;
    // --bg-color-2: #f7f9fa;
    --bg-color-2: #f1f4f6;
    --bg-color-3: #f1f4f6;
    --glass-color: #ffffff05;
    --border-color: #dee2e6;
    --search-bg-color: #edeeef;
    --hover-menu: #e0f3ff;
}

*, html {
    scroll-behavior: smooth !important;
}

body {
    color: var(--text-color);
    // overflow-y: hidden;
}

.height-100 {
    height: 100%;
}

.dashboard-bg {
    background-color: var(--bg-color-2);
    background-size: cover;
}

.header-style {
    user-select: none;
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: var(--bg-color-1);
    height: 60px;
    width: 100%;
    max-height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03),
        0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
}

.header-child {
    margin: 2rem;
}

.profile-name {
    font-weight: bold;
}

/* the css will apply to all img tag inside .link-profile class */
.link-profile > img {
    height: 3rem;
    max-height: 3rem;
    width: 3rem;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.link-profile {
    text-decoration: none;
    color: var(--text-color);
}

.logout-btn {
    background-color: red;
    color: whitesmoke;
    border: none;
    border-radius: 0.4rem;
    padding: 0.5rem;
    font-weight: bold;
    cursor: pointer;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
    -ms-border-radius: 0.4rem;
    -o-border-radius: 0.4rem;
}

.left-border-line {
    border-left: 0.1rem solid var(--border-color);
    color: var(--bg-color-1);
    height: 2rem;
    margin: 1rem;
}

.cur-page-title {
    font-weight: bold;
}

.hamburger-line {
    display: block;
    border: 3px;
    background-color: var(--text-color);
    height: 2px;
    width: 1rem;
    margin: 4px;
    z-index: 1;
    transform-origin: 3px 1px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    -webkit-transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    -moz-transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    -ms-transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    -o-transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#hamburger {
    display: none;
}

.hamburger-menu #hamburger:checked {
    ~ .hamburger-line1 {
        transform: rotate(45deg) translate(-2px, -1px);
        -webkit-transform: rotate(45deg) translate(-2px, -1px);
        -moz-transform: rotate(45deg) translate(-2px, -1px);
        -ms-transform: rotate(45deg) translate(-2px, -1px);
        -o-transform: rotate(45deg) translate(-2px, -1px);
    }
    ~ .hamburger-line2 {
        transform: rotate(-45deg) translate(0, -1px);
        -webkit-transform: rotate(-45deg) translate(0, -1px);
        -moz-transform: rotate(-45deg) translate(0, -1px);
        -ms-transform: rotate(-45deg) translate(0, -1px);
        -o-transform: rotate(-45deg) translate(0, -1px);
    }
    ~ .hamburger-line3 {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }
}

/* if not mobile size, don't show */
.header-child:nth-child(4) {
    display: none;
}

.right-side-control {
    max-height: calc(100vh - 60px);
    overflow: hidden;
    overflow-y: auto;
    width: 100%;
}

.three-dots {
    border: 1px solid var(--text-color);
    height: 2px;
    width: 3px;
    border-radius: 2px;
    margin: 0.1rem;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.pop-up-pf {
    position: absolute;
    z-index: 2;
    width: 85%;
    height: fit-content;
    min-height: 3.5rem;
    background-color: var(--bg-color-1);
    transition: all 0.125s ease-in-out;
    -webkit-transition: all 0.125s ease-in-out;
    -moz-transition: all 0.125s ease-in-out;
    -ms-transition: all 0.125s ease-in-out;
    -o-transition: all 0.125s ease-in-out;
    top: -4rem;
    opacity: 1;
    border-radius: 5rem;
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    -ms-border-radius: 5rem;
    -o-border-radius: 5rem;
    box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03),
        0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
}

.show-pop-up-profile {
    opacity: 1;
    top: 75px;
}

.pop-up-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@media screen and (max-width: 768px) {
    .link-profile > img {
        height: 2rem;
        max-height: 2rem;
        width: 2rem;
    }

    .header-style {
        font-size: small;
    }

    .access-lv {
        font-size: smaller;
    }
}

/* from here we consider it as a mobile size */

@media screen and (max-width: 604px) {
    .link-profile > img {
        height: 2.5rem;
        max-height: 3rem;
        width: 2.5rem;
    }

    .header-style {
        font-size: x-small;
    }

    .access-lv {
        font-size: xx-small;
    }

    /* remove profile and search */
    .header-child:nth-child(3),
    .header-child:nth-child(4) {
        display: none;
    }

    .header-child:nth-child(1),
    .header-child:nth-child(4) {
        display: block;
    }

    // if mobile we disable width when menu is open
    //! this class is applied only when menu is open
    .disable-width {
        width: 0;
    }
}

@media screen and (max-width: 384px) {
    .cur-page-title {
        font-size: smaller;
    }
}

@media screen and (max-width: 285px){
    .link-profile > img {
        height: 2rem;
        max-height: 3rem;
        width: 2rem;
    }

    .profile-name {
        font-size: small;
    }

    .logout-btn {
        padding: 0.3rem;
    }

    .pop-up-pf {
        width: 90%;
    }
}
