* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.m-1 {
    margin: 0.5rem;
}

.m-3 {
    margin: 3rem;
}

.p-5 {
    padding: 5rem;
}

.p-1 {
    padding: 1rem;
}

.full-screen {
    width: 100%;
    height: 100vh;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}
