* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Courier New', Courier, monospace; */
    /* font-family: 'Barlow', sans-serif; */
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,noto sans,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.full-width {
    width: 100%;
}

.m-half {
    margin: 0.5rem;
}

.m-1 {
    margin: 1rem;
}

.m-3 {
    margin: 3rem;
}

.p-5 {
    padding: 5rem;
}

.p-1 {
    padding: 1rem;
}

.full-screen {
    width: 100%;
    height: 100vh;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.relative {
    position: relative;
}

.fill-screen {
    width: 100%;
    height: 100%;
}

.hidden {
    display: none;
}
